// .controls-container {
//     font-family: 'Share Tech Mono', monospace;
//     max-width: 744px;
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     top: calc(100vh - 204px);
//     left: 8px;
//     height: 190px;
//     margin: auto;
//     align-self: center;
//     color: WHITE;
//     background: #c1c1c1e8;
//     border-radius: 8px;
//     box-shadow: 3px 4px 0px #2c2c54;
//     border: 2px solid #40407a;

//     & .row {
//       display: flex;
//       height: 160px;
//       flex-direction: row;
//       flex: 1 1 auto;
//       flex-wrap: nowrap;
//       align-content: stretch;
//       justify-content: flex-start;
//     }
// }

//   .selection {
//     height: 144px;
//     max-width: 640px;
//     margin: 8px;
//     display: flex;
//     flex: 1 1 auto;
//     position: relative;
    
//     & .box {
//       height: 80px;
//       padding: 10px;
//       width: 80px;
//       /* background: black; */
//       /* box-shadow: inset -2px -2px 0px rgb(0 0 0 / 30%); */
//       border-radius: inherit;
//       margin: auto 8px;
//     }
    
//     & .selection-list {
//       margin: 0;
//       padding: 0;
//       display: flex;
//       flex-direction: row;
//       list-style: none;
//       flex: 1 1 auto;
//       flex-wrap: nowrap;
//       align-content: stretch;
//       justify-content: space-evenly;
    
//       & .item {
//           height: 105px;
//           width: 80px;
//           background: rgba(120, 120, 120, 0.2);
//           padding: 4px;
//           margin: 16px 8px;
//           border-radius: 8px;
//           border: 2px solid #84817a;
//           /* box-shadow: 1px 1px #d1ccc0; */
//           outline: none;

//           & .label {
//             width: 100%;
//             text-align: center;
//             display: block;
//             margin-top: -4px;
//             font-size: 1.1rem;
//             font-weight: bold;
//             letter-spacing: -1px;
//             color: #666;
//           }

//           &.selected {
//               outline: 4px solid #33d9b2;
//               outline-offset: 0px;
//           }
//       }
//     }
//   }

$dark: #0c6572;
$medium: #fe7171;
$light: #ffc972;
$text: #ffe3b3;

.controls-container {
  position: absolute;
  display: flex;
  top: calc(100vh - 260px);
  flex-direction: row;
}

body {
  font-family: 'Nunito Sans';
  font-weight: bold;
}

.ui {
  display: flex;
  flex-direction: row;
}

.widget {
  margin: 24px;
  position: relative;
}

.title {
  background: $dark;
  color: white;
  padding: 4px 16px;
  border-radius: 32px;
  max-width: 180px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  top: -30px;
  left: -12px;
}

.content {
  font-family: 'Nunito Sans';
  font-weight: bold;
  background: $text;
  color: $dark;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 180px;
  min-width: 600px;
  border-radius: 16px;
  padding: 16px;
}

.option {
  background: $light;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  margin: 24px 16px;
  flex: 0 0 auto;
  align-self: center;
  
  &.selected {
    border: 4px solid white;
  }
  
  & .label {
    top: 172px;
    margin-left: 8px;
    position: absolute;
    
  }
}

.small {
  height: 32px;
}

.transparent {
  background: transparent;
}

.energy {
    display: flex;
    height: 211px;
    width: 32px;
    flex-direction: column;
    background: #ffc972;
    border-radius: 16px;
    margin-top: 24px;
}

.energy-level {
  // background-color: $medium;
  position: absolute;
  display: block;
  width: 32px;
  // height: 100px;
  // margin-top: 112px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  z-index: 1;
  transition: all 3s;
  
  &.low {
    background-color: $medium;
  }
  
  &.average {
    background-color: #e67e22;
  }
  
  &.ok {
    background-color: #2ecc71;
  }
}

.energy-icon {
  font-size: 1.5rem;
  background: $dark;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: $light;
  border-radius: 32px;
  // flex: 0 0 auto;
  margin-top: 180px;
  z-index: 2;
}