.controls-container {
  max-width: 744px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100vh - 200px);
    left: calc(50vw - 372px);
    height: 190px;
    margin: auto;
    align-self: center;

    & .row {
      display: flex;
      height: 160px;
      flex-direction: row;
      flex: 1 1 auto;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: flex-start;
    }
}
  
  .map {
    height: 144px;
    width: 144px;
    margin: 8px;
    flex: 0 1 auto;
    position: relative;
  }
  
  .selection {
    height: 144px;
    max-width: 640px;
    margin: 8px;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    
    & .box {
      height: 100px;
      width: 100px;
      background: black;
      box-shadow: inset -2px -2px 0px rgba(0, 0, 0, .3);
      border-radius: inherit;
      margin: auto 32px;
    }
    
    & .selection-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      list-style: none;
      flex: 1 1 auto;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: space-evenly;
   
      & .item {
        height: 80px;
        width: 80px;
        background: rgba(0, 0, 0, 0.4);
        margin: 32px 8px;
        border-radius: 8px;
        border: 2px solid #636e72;
        box-shadow: inset 3px -3px black, 1px 1px 0px #b2bec3;
      }
    }
  }